<!DOCTYPE html>
<html>
<head>
    <title>Montly Newsletter ! </title>
</head>
<body>
    <table width="100%" border="0" cellpading="0" cellspacing="0" style="background-color">
        <tbody>
            <tr>
                <td align="center" style="font-size:12px;padding:24px 0;color:black;display">
                    If you no lnger wish to receive this newsletter, you can
                    <a href="http://localhost:8000/profile/settings/" target="blank" style="">
                        unsubscribe here
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</head>